<div
  class="product-item rounded-md transition-all hover:border-blue-200 drop-shadow-sm"
>
  <div
    class="product-item__image flex justify-center p-4 bg-white rounded-t-md border border-gray-100 border-b-0"
  >
    <img
      [src]="product.image"
      [alt]="product.title"
      class="h-32 bg-contain shadow-none"
    />
  </div>
  <div class="bg-slate-50 p-4 rounded-b-md">
    <div class="flex justify-between">
      <div
        class="product-item__title font-bold min-h-[70px] max-w-[250px]"
        [title]="product.title"
        [innerHTML]="
          product.title | slice : 0 : 45 | highlighter : searchKeywords
        "
      ></div>
      <div class="product-item__actions">
        <app-button
          text="Add to cart"
          (onClick)="handleAddItemToCart(product)"
        />
      </div>
    </div>
    <div class="product-item__price">{{ product.price | currency }}</div>
  </div>
</div>
