<div class="flex-1 bg-slate-50 overflow-y-hidden rounded-md cart relative">
  <div
    *ngIf="cartItems.length === 0"
    class="flex flex-col h-full w-full items-center justify-center"
  >
    <p class="text-2xl font-bold">No items in cart</p>
    <p class="text-lg text-gray-600">Add some items to cart</p>
  </div>
  <div else>
    <div class="flex flex-col w-full">
      <div class="flex-1 overflow-y-scroll scrollable-items">
        <div class="flex flex-col gap-4 p-4">
          <app-cart-list-item
            *ngFor="let item of cartItems"
            [item]="item"
            (removeItem)="subQuantityOrRemoveFromCart(item)"
          ></app-cart-list-item>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full rounded-lg p-4">
    <div class="flex flex-1 gap-x-4">
      <div class="w-full">
        <app-cart-total [cartItems]="cartItems" />
      </div>
      <div class="flex justify-end">
        <button
          class="bg-blue-600 text-white px-4 py-2 rounded-md font-bold disabled:bg-gray-400 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors"
          [disabled]="cartItems.length === 0"
          (click)="checkout()"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
